<li>
     <button class="delete-burger" data-id="{{this.id}}">&times;</button>

    {{burger_name}}
    
<button class="devouredBtn" data-id='{{id}}' data-devoured="{{devoured}}">
    {{#if devoured}}Devoured{{else}} Eat me!{{/if}}
    </button>

   
</li>
